/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #e3e2e2;
}
*/
html, body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: #f5f5f5;
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}